:root{
    --primary:#1070be;
    --secondary:#FBF7F0;
    --tertiary:#1F93AC;
    --white:#ffffff;
    --grey: #8080805c;
    --black:#000000;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

body{
    font-family: Roboto;
}

*{
    box-sizing: border-box;
}

.col-1{width: 25%}
.col-2{width: 50%}
.col-3{width: 25%}

.boxForTwo{
    display: inline-flex;
}

.boxOne{
    float: left;
    margin-right: 15px;
}

.boxTwo{
    float: right;
    margin-left: 15px;
}

@media only screen and (min-width: 768px){
    [class*="col-"]{
        float: left;
        padding: 0px 15px;
    }

    #navbar {
        position: sticky;
        top: 0px;
    }

    #navbar.logged{
        margin-left: 20%;
        margin-right: 20%;
    }

    #navbar.guest{
        margin-left: 30%;
        margin-right: 30%;
    }

    header{
        background: radial-gradient(circle, var(--white)5%, var(--primary)35%, var(--tertiary));
    }
}

@media only screen and (max-width: 768px){
    [class*="col-"]{
        float: none;
        width: 100%;
    }

    #navbar {
        position: static;
        display: block;
        text-align: center;
        margin-right: 100px;
        margin-left: 100px;
        padding-right: 25px;
    }

    #navbar li {
        display: list-item;
        border-left: none;
    }

    header{
        background: radial-gradient(circle, var(--white)50%, var(--primary)35%, var(--tertiary));
    }
}