@import './base.css';

header{
    text-align: center;
    margin-bottom: 0px;
    border-radius: 25px;
}

footer{
    background: linear-gradient(90deg, var(--primary) 10%, var(--tertiary));
    color: var(--white);
    text-align: left;
    padding: 20px;
    font-size: 14px;
    border-radius: 25px;
}

h1, h2, h3{
    color: var(--primary);
}

h4{
        color: var(--tertiary);
        display: inline;
    }

#homepage{
    margin: 50px;
}

nav{
    border-style: solid;
    border-color: var(--grey);
    border-radius: 25px;
    text-align: center;
    position: sticky;
    padding-top: 15px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.865);
}

.btn-submit {
        background: rgba(255, 255, 255, 0.489);
        color: var(--white);
        font-weight: bold;
        cursor: pointer;
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-top: 20px;
        width: 68%;
    }

    .btn-submit:hover {
        background: rgba(255, 255, 255, 0.343);
        color: var(--white);
    }

    .btn-submit:disabled {
        cursor: not-allowed;
    }