@import './base.css';

body{
    background: linear-gradient(to bottom, var(--white)35%, var(--secondary)100%);
}

header{
    text-align: center;
    margin-bottom: 0px;
    border-radius: 25px;
}

footer{
    background: linear-gradient(90deg, var(--primary) 10%, var(--tertiary));
    color: var(--white);
    text-align: left;
    padding: 20px;
    font-size: 14px;
    border-radius: 25px;
}

h1, h2, h3{
    color: var(--primary);
}

#homepage{
    margin: 50px;
}

nav{
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.359);
    border-radius: 25px;
    text-align: center;
    position: sticky;
    padding-top: 15px;
    margin-top: 5px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: rgba(255, 255, 255, 0.865);
}